

header {
    background-color: cadetblue;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
}

h2 {
    text-align: center;
}

#startButton {
    width: 40%;
    height: 150px;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    margin-left: 30%;
    margin-top: 10%;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px rgb(56, 63, 63);
    background-color: rgb(8, 201, 95);
}

.text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    font-size: 1.8em;
}

#container {
    display: flex;
}

#game {
    margin: 10px;
    background-color: peachpuff;
    height: 500px;
    width: 100%;
}
/* @keyframes newItems {
    0% {color: black; font-size: 0.9em;}
    50% {color: red; font-size: 1.1em;}
    100% {color: black; font-size: 0.9em;}
}
 */
.imageCharacter {
    width: 50px;
}

.image {
    width: 100px;
}

#heroesAndMonsters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#character {
    padding: 20px;
    border: solid 2px black;
    width: 180px;
    height: 340px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 2em;
    font-family: 'Indie Flower', cursive;
    border-radius: 30px;
    display: none;
}
#characterMobile{
    display: none;
}
#weapon {
    
    display: flex;
}
#fist {
    width: 30px;
    margin-left: 10px;
}
#sword {
    width: 30px;
    margin-left: 10px;
    display: none;
}
#armor {
    
    display: flex;
}
#none {
    width: 30px;
    margin-left: 10px;
}
#vest {
    width: 30px;
    margin-left: 10px;
    display: none; 
}
.dragonHealth {
    padding: 10px;
    border: solid 2px black;
    width: 180px;
    height: 100px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Indie Flower', cursive;
    border-radius: 30px;
    display: none;
}

#adventure {
    text-align: center;
    visibility: hidden;
    padding: 30px;
}

#home {
    display: block;
}

#store {
    display: none;
}
.wizard {
    position: relative;
    align-items: center;
    
}
#advice {
    display: none;
}


#storeInside {
    display: none;
}
#seller {
    align-items: flex-end;
    border: dotted 2px black;
    padding: 5px;
    border-radius: 20px;
}
#straightRedDragon{
    display: none;
}
#redDragon-2 {
    display: none;
}
#redDragon {
    display: none;
}
#defeatedDragon {
    display: flex;
   position: relative;
}
#redDragonPictures {
    position: relative;
}

#redDragon-image-defeated {
    display: none;
   margin-left: 450px;
}
#swordDragon {
    display: none;
    width: 5%;
    margin-left: 50px;
   
}
#greenDragon-image-defeated {
    display: none;
    margin-left: 570px;
}
#armorDragon {
    display: none;
    width: 5%;
    margin-left: 50px;
}
#straightGreenDragon{
    display: none;
}
#greenDragon-2 {
    display: none;
}
#greenDragon {
    display: none;
}

#blackDragon {
    display: none;
}
#blackDragon-2 {
    display: none;
}
#blackDragon-image-defeated {
    display: none;
    margin-left: 670px;
}
#gate {
    display: none;
}
#backToRedDragon {
    display: none;
}
#backToGreenDragon {
    display: none;
}
#goToThePrincess {
    display: none;
}
#princess {
    display: none;
}
#superheroPrincess {
    display: none;
    width: 20%;
}
#heartPrincess {
    display: none;
    width: 20%;
}
#restart {
    display: none;
    width: 100px;
    height: 25px;
    padding-top: 4px;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.options>div {
    border: 2px solid orangered;
    background-color: palegreen;
    width: 200px;
    height: 100px;
    font-size: 0.9em !important;
    border-radius: 20px;
    margin: 10px;
    padding: 20px 10px 20px 10px; 
    box-shadow: 10px 10px rgb(56, 63, 63);
}

.end {
    display: none;
    justify-content: center;
    flex-wrap: nowrap;
    
}

.end>div {
    border: 2px solid orangered;
    background-color: palegreen;
    width: 250px;
    height: 130px;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 150px;
    padding: 20px;
    box-shadow: 10px 10px rgb(56, 63, 63);
}
.end>div:hover {
    cursor: pointer;
}

#options>div:hover {
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 60%; 
    box-shadow: 5px 5px rgb(56, 63, 63);
  }
  #closeRedWon, 
  #closeGreenWon,
  #closeBlackWon, 
  #closeRedLost, 
  #closeGreenLost, 
  #closeWizard, 
  #closeStoreFull, 
  #closeStoreNoMoney, 
  #closeStoreNoMoneyHealthFull {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #closeRedWon:hover,
  #closeRedWon:focus,
  #closeGreenWon:hover,
  #closeGreenWon:focus,
  #closeWizard:hover,
  #closeWizard:focus,
  #closeRedLost:hover,
  #closeRedLost:focus,
  #closeGreenLost:hover,
  #closeGreenLost:focus,
  #closeBlackWon:hover,
  #closeBlackWon:focus,
  #closeStoreFull:hover,
  #closeStoreFull:focus,
  #closeStoreNoMoney:hover,
  #closeStoreNoMoney:focus,
  #closeStoreNoMoneyHealthFull:hover,
  #closeStoreNoMoneyHealthFull:focus
  {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



footer {
    width: 100%;
    position: fixed;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    bottom: 0;
    padding: 10px;
    display: flex;
}
.footer-element {
    margin: 0 20px;
}


@media only screen and (max-width: 767px) {
    body {margin: 0 20px;}
    #startButton{font-size: 1.5em; height: 100px;}
    #container{display: flex; flex-direction: column-reverse;}
    #yourPlayer, .imageCharacter, #weapon, #armor{display: none;}
    #character{height: 100px; padding: 15px;}
    #heroesAndMonsters{flex-direction: row;}
    .text{font-size: 1em;}
    .end>div{margin: auto;}
    #redDragon-image-defeated{margin: auto;}
    #swordDragon{margin: auto;max-width: 40px; height:auto;}
    #greenDragon-image-defeated{margin: auto;}
    #armorDragon{margin: auto;}
    .options{display: flex; flex: 1;}
    .footer-element{font-size: .8em; margin: 0;}
   
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {margin: 0 20px;}
   
}
@media only screen and (min-width: 992px) {
    
}